/.phpunit.cache
/node_modules
/public/assets
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/app/assets/images
/storage/app/private
/storage/app/backup_db
/storage/app/backup-temp
/vendor
.env
.env.backup
.env.carion
.phpactor.json
.phpunit.result.cache
Homestead.json
Homestead.yaml
auth.json
npm-debug.log
yarn-error.log
/.fleet
/.idea
/.vscode
