/*
Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.
        on line 110 of style.css

105: section.dark,
106: .dark section {
107:   background-color: #181818;
108:   color: #999999; }
109: 
110:  /* ----------------------------------------------------------------------
111:     Page title
112: -------------------------------------------------------------------------*\/
113: #page-title {
114:   clear: both;
115:   padding: 80px 0;

Backtrace:
style.css:110
/usr/lib/ruby/vendor_ruby/sass/engine.rb:486:in `block in tabulate'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:444:in `each'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:444:in `each_with_index'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:444:in `tabulate'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:409:in `_to_tree'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:381:in `_render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/engine.rb:298:in `render_with_sourcemap'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:492:in `update_stylesheet'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `each'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:209:in `update_stylesheets'
/usr/lib/ruby/vendor_ruby/sass/plugin/compiler.rb:294:in `watch'
/usr/lib/ruby/vendor_ruby/sass/plugin.rb:109:in `method_missing'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:356:in `watch_or_update'
/usr/lib/ruby/vendor_ruby/sass/exec/sass_scss.rb:51:in `process_result'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:52:in `parse'
/usr/lib/ruby/vendor_ruby/sass/exec/base.rb:19:in `parse!'
/usr/bin/sass:8:in `<main>'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Inconsistent indentation: 1 space was used for indentation, but the rest of the document was indented using 2 spaces.\A         on line 110 of style.css\A \A 105: section.dark,\A 106: .dark section {\A 107:   background-color: #181818;\A 108:   color: #999999; }\A 109: \A 110:  /* ----------------------------------------------------------------------\A 111:     Page title\A 112: -------------------------------------------------------------------------*/\A 113: #page-title {\A 114:   clear: both;\A 115:   padding: 80px 0;"; }
